@model PiranhaCMS.PublicWeb.Models.ViewModels.ArticlePageViewModel

<partial name="Partial/_PageHeaderWithBreadcrumb.cshtml" model="Model.CurrentPage" />

<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <div class="mb-5">
                <image-cache model="Model.CurrentPage.PrimaryImage"
                             css="img-fluid w-100 mb-5"
                             srcset="960x540|1280x720|1600x900"
                             sizes="100vw" />

                @if (Model.CurrentPage.PageRegion?.Heading != null)
                {
                    <h1 class="mb-4">
                        @Model.CurrentPage.PageRegion.Heading
                    </h1>
                }

                @if (Model.CurrentPage.PageRegion?.LeadText != null)
                {
                    <h2 class="text-primary mb-4">
                        @Model.CurrentPage.PageRegion.LeadText
                    </h2>
                }

                @if (Model.CurrentPage.PageRegion?.MainContent != null)
                {
                    @Html.Raw(Model.CurrentPage.PageRegion.MainContent)
                }
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="Partial/_SideBar.cshtml" />
        </div>
    </div>
</div>

@if(Model.SubMenu != null && Model.SubMenu.Any())
{
    <div class="container">
        @foreach (var item in Model.SubMenu)
        {
            <span>
                <a href="@item.Link">@item.Name</a>
            </span>
        }
    </div>
}

@Html.DisplayFor(m => m.CurrentPage.Blocks)
