@model PiranhaCMS.Search.Models.Dto.PaginationDto

<nav aria-label="Page navigation" class="nav d-flex justify-content-center">
    <ul class="pagination flex-sm-wrap">
        <li class="page-item @(Model.PageIndex > 0 ? string.Empty : "disabled")">
            <a class="page-link rounded-0" href="@Model.QueryString" aria-label="First" title="First">
                <span aria-hidden="true"><i class="bi bi-arrow-bar-left"></i></span>
            </a>
        </li>
        <li class="page-item @(Model.PageIndex > 0 ? string.Empty : "disabled")">
            <a class="page-link rounded-0" href="@Model.QueryString@(Model.PageIndex-1 == 0 ? "" : $"&page={Model.PageIndex-1}")" aria-label="Previous" title="Previous">
                <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
            </a>
        </li>
        @if (Model.TotalPages > 5)
        {
            @for (int i = Math.Max(0, Model.PageIndex - 1); i <= Math.Min(Model.PageIndex + 1, Model.TotalPages-1); i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")"><a class="page-link" href="@(Model.QueryString)&page=@i" aria-label="Page @i" role="button">@(i+1)</a></li>
            }

            if (Model.PageIndex + 1 <= Model.TotalPages - 2)
            {
                <li class="page-item disabled"><span class="page-link">...</span></li>
                <li class="page-item"><a class="page-link" role="button" aria-label="Page @Model.TotalPages" href="@(Model.QueryString)&page=@(Model.TotalPages-1)">@Model.TotalPages</a></li>
            }
        }
        else
        {
            @for (int i = 0; i <= Model.TotalPages - 1; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")"><a class="page-link" href="@(Model.QueryString)&page=@i" role="button" aria-label="Page @i">@(i+1)</a></li>
            }
        }
        <li class="page-item @(Model.PageIndex + 1 < Model.TotalPages ? string.Empty : "disabled")">
            <a class="page-link rounded-0" href="@(Model.QueryString)&page=@(Model.PageIndex + 1)" aria-label="Next" title="Next">
                <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
            </a>
        </li>
        <li class="page-item @(Model.PageIndex + 1 < Model.TotalPages ? string.Empty : "disabled")">
            <a class="page-link rounded-0" href="@(Model.QueryString)&page=@(Model.TotalPages - 1)" aria-label="Last" title="Last">
                <span aria-hidden="true"><i class="bi bi-arrow-bar-right"></i></span>
            </a>
        </li>
    </ul>
</nav>