@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Env
@using Piranha.Models
@using PiranhaCMS.PublicWeb.Components
@using PiranhaCMS.PublicWeb.Models.ViewModels.Base
@model IPageViewModel<PiranhaCMS.ContentTypes.Pages.Base.IPage>

@{
    var site = await WebApp.Api.Sites.GetByIdAsync(WebApp.Site.Id);
    var site2 = await WebApp.Api.Languages.GetByIdAsync(site.LanguageId);
    TempData["langid"] = @site2.Culture;
}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>

    @if (!User.Identity.IsAuthenticated && !Env.IsDevelopment())
    {
            <!-- Insert Google Analytics here -->
    }
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @if (Model.CurrentPage is IMeta meta)
    {
            <partial name="Partial/_Meta.cshtml" model="@meta" />
    }

    <!-- PAGE TITLE HERE -->
    <title></title>
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no">
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <!-- Stylesheets -->
    <link href="/assets/css/bootstrap.css" type="text/css" rel="stylesheet">



    <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
    <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="/assets/css/flaticon.min.css">



    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="/assets/css/skin-1.css">
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">-->
    <link  rel="stylesheet" type="text/css" href="/assets/css/responsive.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    @RenderSection("head", required: false)
</head>

<body>
    @inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

    <div class="page-wraper">

        <partial name="Partial/_PageHeader.cshtml" model="@Model" />

        <!-- #main -->
        <main role="main">
            <!-- CONTENT START -->
           
                @RenderBody()
        
        </main>

        <!-- #main -->
        <partial name="Partial/_PageFooter.cshtml" model="@Model" />


    </div>


   
            <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script  src="/assets/js/bootstrap-select.min.js"></script><!-- Form js -->
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/magnific-popup.min.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/parallax.min.js"></script>
    <script src="/assets/js/tilt.jquery.min.js"></script>
    <script src="/assets/js/jquery.paroller.min.js"></script>

   <!-- <script  src="/assets/js/owl.carousel.min.js"></script> OWL  SLIDER  -->
    <script src="/assets/js/owl.js"></script>
<script src="/assets/js/wow.js"></script>
    <script src="/assets/js/odometer.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/backToTop.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script  src="js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
<script  src="/assets/js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
<script  src="/assets/js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->

<script  src="/assets/js/lc_lightbox.lite.js" ></script><!-- IMAGE POPUP -->
<script  src="/assets/js/switcher.js"></script><!-- SHORTCODE FUCTIONS  -->
    <!-- <script src="/assets/js/cursor-script.js"></script>-->
    <script src="/assets/js/script.js"></script>
        <script src="/assets/js/custom.js"></script>




    <partial name="Partial/_ValidationScriptsPartial.cshtml" />
    
<script>
$(document).ready(function() {

  var sync1 = $("#sync1");
  var sync2 = $("#sync2");
  var slidesPerPage = 4; //globaly define number of elements per page
  var syncedSecondary = true;

	  sync1.owlCarousel({
		items : 1,
		slideSpeed : 2000,
		nav: true,
		autoplay: false,
		dots: false,
		loop: true,
		responsiveRefreshRate : 200,
		navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
	  }).on('changed.owl.carousel', syncPosition);

	  sync2
		.on('initialized.owl.carousel', function () {
		  sync2.find(".owl-item").eq(0).addClass("current");
		})
		.owlCarousel({
		items : slidesPerPage,
		dots: false,
		nav: false,
		margin:5,
		smartSpeed: 200,
		slideSpeed : 500,
		slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
		responsiveRefreshRate : 100
	  }).on('changed.owl.carousel', syncPosition2);

  function syncPosition(el) {
    //if you set loop to false, you have to restore this next line
    //var current = el.item.index;
    
    //if you disable loop you have to comment this block
    var count = el.item.count-1;
    var current = Math.round(el.item.index - (el.item.count/2) - .5);
    
    if(current < 0) {
      current = count;
    }
    if(current > count) {
      current = 0;
    }
    
    //end block

    sync2
      .find(".owl-item")
      .removeClass("current")
      .eq(current)
      .addClass("current");
    var onscreen = sync2.find('.owl-item.active').length - 1;
    var start = sync2.find('.owl-item.active').first().index();
    var end = sync2.find('.owl-item.active').last().index();
    
    if (current > end) {
      sync2.data('owl.carousel').to(current, 100, true);
    }
    if (current < start) {
      sync2.data('owl.carousel').to(current - onscreen, 100, true);
    }
  }
  
  function syncPosition2(el) {
    if(syncedSecondary) {
      var number = el.item.index;
      sync1.data('owl.carousel').to(number, 100, true);
    }
  }
  
  sync2.on("click", ".owl-item", function(e){
    e.preventDefault();
    var number = $(this).index();
    sync1.data('owl.carousel').to(number, 300, true);
  });
});
</script>
    @RenderSection("script", required: false)

    
</body>

</html>
