@using PiranhaCMS.PublicWeb.Models.ViewModels.Base
@using PiranhaCMS.ContentTypes.Helpers
@model IPageViewModel<PiranhaCMS.ContentTypes.Pages.Base.IPage>

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-4 py-2 py-lg-0">
    @if (!string.IsNullOrEmpty(Model.Header.SiteLogoImageUrl))
    {
    <a href="/" class="navbar-brand p-3">
        <img id="logo" src="@Url.Content(Model.Header.SiteLogoImageUrl)" alt="@Model.GlobalSettings.SiteTitle">
    </a>
    }
    <button title="Menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 me-n3">
            @foreach (var item in WebApp.Site.Sitemap)
            {
                if (!item.IsHidden)
                {
                    @* @if (item.Items.Count == 0)
                    { *@
                        <a class="nav-item nav-link @(item.Id == WebApp.PageId ? "active" : "")" href="@item.Permalink">
                            @(item.Id.Equals(Model.GlobalSettings.StartPageId) ? "Home" : item.MenuTitle)
                        </a>
                    @* } *@
                    @* else
                    {
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @(item.Id == WebApp.PageId || item.Id == WebApp.CurrentPage.ParentId ? "active" : "")" data-bs-toggle="dropdown" href="@item.Permalink">
                                @item.MenuTitle
                            </a>
                            <div class="dropdown-menu m-0">
                                @foreach (var subItem in item.Items)
                                {
                                    <a href="@subItem.Permalink" class="dropdown-item @(subItem.Id == WebApp.PageId ? "active" : "")">
                                        @subItem.MenuTitle
                                    </a>
                                }
                            </div>
                        </div>
                    } *@
                }
            }
            @if (PageHelpers.GetSiteSettings().SearchPageReference is not null && PageHelpers.GetSiteSettings().SearchPageReference.Page is not null)
            {
                <a id="search-button" title="Search" class="nav-item nav-link" href="@PageHelpers.GetSiteSettings().SearchPageReference.Page.Permalink">
                    <i class="bi bi-search"></i>
                </a>
            }
        </div>
    </div>
</nav>
