@model PiranhaCMS.PublicWeb.Models.ViewModels.AtreladosPostPageViewModel

@{
    ViewData["Title"] = !string.IsNullOrEmpty(Model.CurrentPage.MetaTitle) ? Model.CurrentPage.MetaTitle :

    Model.CurrentPage.Title;

    var hasImage = Model.CurrentPage.PrimaryImage.HasValue;

    var archive = await WebApp.Api.Pages.GetByIdAsync(Model.CurrentPage.BlogId);
}

@section head {
    @WebApp.MetaTags(Model.CurrentPage)
}

<!-- Page Title -->
<section class="page-title" style="background-image:url(@Url.Content(Model.CurrentPage.PageHeader.TopImage));">
    <div class="auto-container">
        @Html.Partial("Partial/_BreadCrumb", WebApp.PageId)
        <h1>@Model.CurrentPage.Title</h1>
    </div>
</section>
<!-- End Page Title -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b80">
    <!-- PRODUCT DETAILS -->
    <div class="auto-container">
        <div class="row m-b30">
            <div class="col-lg-3 col-md-4  m-b30">
                <div class="wt-box wt-product-gallery on-show-slider">
                    <div id="sync1" class="owl-carousel owl-theme owl-btn-vertical-center m-b5">

                        @foreach (var img in Model.CurrentPage.MachineImages)



                        {
                            <div class="item">
                                <div class="mfp-gallery">
                                    <div class="wt-box">
                                        <div class="wt-thum-bx wt-img-overlay1 ">
                                            <img src="@Url.Content(img.BigImage)" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a class="mfp-link" href="@Url.Content(img.BigImage)">
                                                        <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <div id="sync2" class="owl-carousel owl-theme">
                        @foreach (var img in Model.CurrentPage.MachineImages)



                        {
                            <div class="item">
                                <div class="wt-media">
                                    <img src="@Url.Content(img.ThumbnailImage)" alt="">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="product-detail-info bg-gray p-a30">
                    <div class="wt-product-title">
                        <h3 class="post-title site-text-secondry"><a class="site-text-secondry"
                                href="javascript:void(0);">@Model.CurrentPage.ProductInfo.Title</a>
                        </h3>
                    </div>
                    <h3 class="m-tb10">€@Model.CurrentPage.ProductInfo.Price </h3>

                    <div class="m-b15">
                        <span class="font-weight-600 text-black"> SKU: </span>@Model.CurrentPage.ProductInfo.Sku
                    </div>

                    <div class="wt-product-text">
                        <p>@Html.Raw(Model.CurrentPage.ProductInfo.Description)</p>
                    </div>

                    <div class="product_meta">
                        <span class="posted_in"> <span class="font-weight-600 text-black"> Palavras-chave:</span>

                            @foreach (var tag in Model.CurrentPage.Tags)

                            {
                                <a href="tag/@tag.Slug" rel="tag">@tag.Slug ,</a>
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- TABS CONTENT START -->
        <div class="row">
            <div class="col-md-12">
                <div class="wt-tabs border bg-tabs">
                    <ul class="nav nav-tabs">
                        <li><a data-bs-toggle="tab" href="#web-design-19" class="active">Description</a></li>
                        <li><a data-bs-toggle="tab" href="#graphic-design-19">Specification</a></li>

                    </ul>
                    <div class="tab-content">
                        <div id="web-design-19" class="tab-pane active">
                            <div class=" p-a10">
                                <p class="m-b10">@Html.Raw(Model.CurrentPage.ProductInfo.Description)</p>

                                <ul class="site-list-style-two m-b0">
                                    <li>Quality Control System , 100% Satisfaction Guarantee</li>
                                    <li>Unrivalled Workmanship, Professional and Qualified</li>
                                    <li>Environmental Sensitivity, Personalised Solutions</li>
                                </ul>
                            </div>
                        </div>
                        <div id="graphic-design-19" class="tab-pane">
                            <table class="table m-b0 no-border">
                                <tr>
                                    <td><b>Size</b></td>
                                    <td>Small, Medium, Large & Extra Large</td>
                                </tr>
                                <tr>
                                    <td><b>Color</b></td>
                                    <td>Read, Blue, Green & Black</td>
                                </tr>
                                <tr>
                                    <td><b>Length</b></td>
                                    <td>35 cm</td>
                                </tr>
                                <tr>
                                    <td><b>Fabric</b></td>
                                    <td>Cotton, Silk & Synthetic</td>
                                </tr>
                                <tr>
                                    <td><b>Warranty</b></td>
                                    <td>6 Months</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- TABS CONTENT START -->




    </div>
    <!-- PRODUCT DETAILS -->

</div>
<!-- CONTENT CONTENT END -->



<!-- SECTION CONTENT END -->


<script>
    $(document).ready(function () {

        var sync1 = $("#sync1");
        var sync2 = $("#sync2");
        var slidesPerPage = 4; //globaly define number of elements per page
        var syncedSecondary = true;

        sync1.owlCarousel({
            items: 1,
            slideSpeed: 2000,
            nav: true,
            autoplay: false,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
        }).on('changed.owl.carousel', syncPosition);

        sync2
            .on('initialized.owl.carousel', function () {
                sync2.find(".owl-item").eq(0).addClass("current");
            })
            .owlCarousel({
                items: slidesPerPage,
                dots: false,
                nav: false,
                margin: 5,
                smartSpeed: 200,
                slideSpeed: 500,
                slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                responsiveRefreshRate: 100
            }).on('changed.owl.carousel', syncPosition2);

        function syncPosition(el) {
            //if you set loop to false, you have to restore this next line
            //var current = el.item.index;

            //if you disable loop you have to comment this block
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - (el.item.count / 2) - .5);

            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }

            //end block

            sync2
                .find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = sync2.find('.owl-item.active').length - 1;
            var start = sync2.find('.owl-item.active').first().index();
            var end = sync2.find('.owl-item.active').last().index();

            if (current > end) {
                sync2.data('owl.carousel').to(current, 100, true);
            }
            if (current < start) {
                sync2.data('owl.carousel').to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                sync1.data('owl.carousel').to(number, 100, true);
            }
        }

        sync2.on("click", ".owl-item", function (e) {
            e.preventDefault();
            var number = $(this).index();
            sync1.data('owl.carousel').to(number, 300, true);
        });
    });
</script>


