@using PiranhaCMS.Common.Extensions
@using PiranhaCMS.ContentTypes.Pages
@model PiranhaCMS.ContentTypes.Blocks.TeaserBlock

<div class="row">
    <h3>Current page name: @(Model.CurrentPage is StartPage ? Model.CurrentPage.Title : "TEST")</h3>
</div>

<div class="row">
    <h3>@Model.Heading.Value</h3>
    <p>@Model.LeadText.Value</p>

    @if (Model.Image != null && Model.Image.HasValue)
    {
        <figure class="image-position-@Model.ImagePosition.EnumValue.ToLower()">
            <img src="@Model.Image.GetSrc(800)"
                 srcset="@Model.Image.GetSrcSet(800, 1200, 1920)"
                 sizes="100vw"
                 alt="@Model.Image.Media.AltText" />
        </figure>
    }
</div>
